body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.nav{
    padding-left: 70px;
}
.nav-items{
    padding-bottom: 20px;
    color:  #dbdfe6;
   
}
.nav-search{
    padding-right: 180px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.fa{
    padding-right: 20px;
}

.more{
    padding-left: 10px;
    color:  #dbdfe6;
}
.nav-link{
    color:  #dbdfe6;
    
    font-size: 18px;
    font-weight: 900;
}
.btn-primary{
    
    width:200px;
    height: 50px;
    border-radius: 250px;
}
li{
    padding-bottom: 15px;
    list-style: none;
}
section{
    display:inline-flex
}
nav{
    align-items: flex-end;
    margin-top: 0;
}
.right-nav{
    padding-top: 40px;
    padding-right: 70px;
}
#search{
    background-color: rgb(29, 29, 34);
    border-color: transparent;
    width: 320px;
    border-radius: 20px;
    color: aliceblue;
    padding-left: 50px;
}
/* .d-flex{
    width:250px;
    border-radius: 20px;
    border-color: rgb(2, 21, 98);
    background-color: rgb(52, 52, 54);
} */
.fafa{
    padding-top: 12px;
    padding-left: 15px;
    position: absolute;
    z-index: 1;
}
.container{
    background-color:  rgb(29, 29, 34);
    width: 320px;
    height: 700px;
    border-radius: 20px;
}
.trends-title{
    font-family: 'Noto Sans Miao', sans-serif;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
}
.trending-cat{
    font-size: 20px;
    color: rgb(147, 143, 143);
    padding-top: 10px;
}
a{
    text-decoration: none;
    list-style: none;
}
.trending:hover{
   
background-color: black;
}
.tweetsnumber{
    font-size: 10px;
}
.trending-tweet{
    font-size: 20px;
    font-weight: 100;
}
.faf{
    float:right;
    padding-right: 0;
}
.carousel-inner{
    padding-left: 20px;
}
.mycenterdiv{
        position:absolute;
        top:30%;
        left:5%;
        right: 5%;
        margin-top:-50px; /* this is half the height of your div*/  
        margin-left:-100px; /*this is half of width of your div*/
       padding-right: 120px;
 }
 #body-image{
    width: 400px;
   
 }
 #dp-image{
    padding-left: 0;
    position: relative;
  z-index: -1;
    width:40px;
    border-radius: 80px;
 }
 #dpname{
    color:#dbdfe6;
    font-size:15px;
    padding-left: 15px;
    
 }
 #text{
    color:#dbdfe6;
    padding-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
.middlenav{  
    
    margin-left: 22%;
    margin-right: 38%;
   
}
.navbar{
    background-color: black;
    color: black;
}
.navbar-brand{
    color:#dbdfe6;
    
}
.navsub {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}
#hr {
    background-color:#565252;
    color:#3a3535;
    -webkit-transform:rotate(90deg);
    position:absolute;
    width:100px;
    height:2px;
    padding-left: 40rem;
    border:2px;
    }